

    <header class="container ">
        
        <nav class="pt-25 pb-25  d-flex justify-content-between align-items-center navbar navbar-expand-md nav-position">
            <div class="navbar-brand d-flex justify-content-between align-items-center me-0">
                <a href="index.html" class="logo-a">
                    <img alt="公司logo" src="../assets/images/logo.png">
                </a>
                <p class="d-none d-lg-block yeseva-tc-one fw-normal fs-2 ms-3 me-1">
                    7TAO
                </p>
                <p class="d-none d-lg-block noto-tc-serif fw-bold pe-5">活動訂票網</p>
                <div class="search-box d-flex justify-content-between  ms-1 ms-md-25 ms-lg-0">
                    <input type="text" class="search-box__input noto-tc-serif bg-primary-0  ps-4 fs-6" placeholder="探索活動">
                    <button class="search-box__button border-start-0 bg-primary-3 p-0" type="button">
                        <i class="icofont-search-1 text-primary-1 fs-19"></i>
                    </button>
                </div>
 
                
            </div>

            <button class="nav-btn navbar-toggler border border-primary-3 " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" nav-position__item collapse navbar-collapse " id="navbarSupportedContent">
                 
                <ul class="ms-auto py-4 py-md-0 d-md-flex justify-content-md-between align-items-md-center">
                    <li class="ms-12  ms-md-0 me-md-4 mb-3 mb-md-0 fs-18">
                        <a href="" class="link-primary-3 nav-a">
                            <i class="icofont-ui-file"></i>
                            <span class="ms-1 yeseva-tc-one">REGISTER</span>
                        </a>
                    </li>
                    <li class="ms-12 ms-md-0 fs-18">
                        <a href="login.html" class="link-primary-3 nav-a">
                            <i class="icofont-ui-user"></i>
                            <span class="ms-1 yeseva-tc-one">LOGIN</span>
                        </a>
                    
                    </li>
                </ul>

            </div>
   



        </nav>

    </header>

