.form-paybox{
    &:first-child{
        .pay-box__item{
            background-color:$primary-3  ;
            color:$primary-1 ;
        }
    }
}

.user-imfo{
    &__img{
        text-align: center;
        img{
            width: 32px;
            height: 32px;
        }
       
    }
}

