<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>

    </style>
  </head>
  <body>
    <!-- 導覽列 -->
    <div class="container-fluid bg-primary-0 px-0 vh-100 d-flex flex-column">
        <div class="container-fluid bg-primary-0 border-bottom border-primary-3 border-3 ">
            <%- include('./layout/header'); -%>
        </div>
      
        <div class="container-fluid bg-primary-0 ">

            <div class="container">

                <div class="row ">
                    <div class="col-md-6 mx-auto">

                        <div class="pay-list  mt-4 mt-md-60 d-flex align-items-center justify-content-between noto-tc-serif fw-bold">
                            <div class="pay-box check-paybox">
                                <div class="pay-box__item"><i class="icofont-verification-check"></i></div>
                                <p class="mt-1 mt-md-2">訂單確認</p>
                            </div>
                            <div class="pay-box check-paybox">
                                <div  class="pay-box__item">2</div>
                                <p class="mt-1 mt-md-2">結帳付款</p>
                            </div>
                            <div class="pay-box check-paybox">
                                <div  class="pay-box__item">3</div>
                                <p class="mt-1 mt-md-2">訂購結果</p>
                            </div>
                        </div>

                    </div>
                </div>
                
                <h1 class="pay-title noto-tc-serif fw-bold text-sm-center mt-4 mt-md-5">返老還童-制服聯誼</h1>
                
                <div class="row mt-3 mb-4 mb-md-32">
                    <div class="col-12 col-md-7 mx-auto">
                        <h2 class="noto-tc-serif text-primary-1 text-center bg-primary-3 py-2">您的訂單已保留，請在2023/5/30 04:32 前完成繳費。若逾期未繳款，系統將取消您的訂單。</h2>
                    </div>
                </div>

                <table class="table pay-table noto-tc-serif  mx-auto">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-top border-3 border-dark" >
                            <th scope="row" class="fw-bold">訂單編號</th>
                            <td class="text-end">892746123</td>
                        </tr>
                        <tr class="border-bottom border-top border-1 border-dark">
                            <th scope="row" class="fw-bold">票券</th>
                            <td class="text-end">改頭換面票(含大改造) $8000</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="check-imfo mt-32 mt-md-5">
                <div class="user-imfo__img">
                    <img src="../assets/images/sparkler.png">
                </div>
                <h2 class="check-imfo__title fs-4 fw-bold text-center mt-3">結帳資訊</h2>

                <form class="pay-form noto-tc-serif " action="pay_success.html">

                    <div class="col-12 col-md-6 mb-3 mx-auto">

                        <label for="username" class="form-label mb-2">取票資訊</label>

                        <input type="text" class="form-control rounded-0 bg-primary-0 border-dark " id="username" placeholder="請輸入身分證字號或護照號碼" aria-describedby="usernameHelp">
                        
                        <p class="mt-1">請輸入您的 <span class="text-danger">身分證字號</span> 供取票使用，外籍人士請輸入 <span  class="text-danger">護照號碼</span></p>
                    
                    </div>

                    <h3 class="col-12 col-md-6 mb-3 mx-auto">付款方式</h3>
                    <div class="check-pay form-check col-12 col-md-6 mb-3 mx-auto">
                        <input class="form-check-input" type="radio" name="userSelect" id="userCreditCard" >
                        <label for="userCreditCard" class="form-check-label">信用卡</label>
                    </div>

                    <div class="check-pay form-check col-12 col-md-6 mb-3 mx-auto">
                        <input class="form-check-input " type="radio" name="userSelect" id="userATM">
                        <label for="userATM" class="form-check-label">ATM虛擬帳號</label>
                    </div>

                    
                    <div class="col-12 col-md-6 mx-auto mb-5 d-flex flex-column justify-content-center align-items-center ">
                        <button type="submit" class="form-btn mt-4 mt-md-32 py-2 fw-bold ">
                            確認訂單並繳費$8000<i class="icofont-rounded-double-right "></i>
                        </button>
                        <!-- <a href="one_activity.html" class="cancel-btn mt-3 mb-5 mb-md-60">取消購票</a> -->
                    </div>
                    
                </form>

            </div>

        </div>
      
        
        <div class="container-fluid bg-primary-0 border-top border-primary-3 border-2 mt-auto">
            <%- include('./layout/footer'); -%>
        </div>
         

    </div>
  

  
    

    <script type="module" src="../main.js"></script>
    <script type="module">
     

    </script>
  </body>
</html>
