<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>

    </style>
  </head>
  <body>
    <!-- 導覽列 -->
    <div class="container-fluid bg-primary-0 border-bottom border-primary-3 border-3 ">
      <%- include('./layout/header'); -%>
    </div>

    <div class="container-fluid bg-primary-0 ">
        
        <!-- 大圖區 -->
        <div class="container">
            
            <div class="row pt-30">

                <div class="col-12 col-md-9 col-lg-10 activity-imgbox border border-primary-3 border-3 p-12 p-md-4">
                    <img class="h-100" alt="大圖" src="../assets/images/event/09.jpg" >
                </div>

                <div class="col-12 col-md-3 col-lg-2 mt-2 mt-md-0">

                    <div class="date-box row ">

                        <div class="col-4 col-md-12 mb-0 mb-md-4 ps-0 ps-md-12">
                            <h2 class="yeseva-tc-one  text-center py-5 border border-primary-3 border-3 ">2023</h2>
                        </div>

                        <div class="col-8 col-md-12 pe-0 pe-md-12">
                            <div class="yeseva-tc-one h-100 text-center border border-primary-3 border-3  d-flex flex-md-column align-items-center justify-content-around position-relative">
                                <div class="month-box d-flex flex-column align-items-center mt-0 mt-md-5">
                                    <p>MAY</p>
                                    <p>19</p>
                                </div>
                                <div class="time-box d-flex flex-column align-items-center justify-content-center mb-0 mb-md-5">
                                    <p>12:00</p>
                                    <p>|</p>
                                    <p>21:00</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
             
            </div>

        </div>

        <!-- 標題區1 -->
        <div class="container px-0 px-md-12">
            <div class="one-activity mt-4">
                <h1 class="one-activity__title fw-bold noto-tc-serif">返老還童-制服聯誼</h1>
                <p class="one-activity__text noto-tc-serif mt-2 mt-md-3">穿上制服，無年齡限制，一起走上街頭、尋找青春才有的純愛心動！</p>
            </div>
            <ul class="label-btn-list d-none d-md-flex flex-wrap mt-4 ">

            </ul>
            
        </div>

        <!-- 內容 -->
        <div class="container px-0 px-md-12">
            <div class="noto-tc-serif mt-4 mt-md-5 p-3 p-md-32 border border-primary-3 border-3">
                <p>想回到過去？試著讓故事繼續？</p>
                <p class="my-3">由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！制服由主辦方提供，妝髮造型可額外加價購！</p>
                <p>活動中全程會有隨行攝影師，捕捉你們的純愛互動，拍攝成實境電視劇，讓你們能留下永恆的美好回憶 &lt;3</p>
            </div>
        </div>

        <!-- 購票標題 -->
        <div class="container px-0 px-md-12">
            <div class=" mt-4 mt-md-5 d-flex justify-content-between align-items-center border border-dark border-3 ">
              <p class=" px-12 py-2 px-md-4 recent-text yeseva-tc-one">TICKET</p>
              <p class=" px-12 py-2 px-md-4 recent-text2 noto-tc-serif fw-bold">購票資訊</p>
            </div>
        </div>

        <!-- 購票表格 -->
        <div class="container px-0 px-md-12 pb-5 pb-md-48">

            <table class='table noto-tc-serif mt-3 w-100'>
                <thead>
                    <tr class="fw-bold">
                        <th scope="col">活動日期</th>
                        <th scope="col">票種</th>
                        <th scope="col">票價</th>
                        <th scope="col">購票</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">2023/5/12</td>
                        <td>普通票</td>
                        <td>$600</td>
                        <td class="buy-link p-0"> 
                            <a href="form1.html" class="link-dark fw-bold d-none d-md-block border border-dark border-2 text-center">立即購票</a>
                            <a href="form1.html" class="link-dark fw-bold d-block d-md-none border border-dark border-2 text-center">購票</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">2023/5/12</td>
                        <td>改頭換面票(含大改造)</td>
                        <td>$3600</td>
                        <td class="buy-link p-0"> 
                            <a href="form2.html" class="link-dark fw-bold d-none d-md-block border border-dark border-2 text-center">立即購票</a>
                            <a href="form2.html" class="link-dark fw-bold d-block d-md-none border border-dark border-2 text-center">購票</a>
                        </td>

                    </tr>
                    <tr>
                        <td scope="row">2023/5/12</td>
                        <td>必勝票(含戀愛小抄)</td>
                        <td>$8000</td>
                        <td class="buy-link p-0">
                            <a href="form3.html" class="link-dark fw-bold d-none d-md-block border border-dark border-2 text-center">立即購票</a>
                            <a href="form3.html" class="link-dark fw-bold d-block d-md-none border border-dark border-2 text-center">購票</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            
        </div>
    </div>
    <div class="container-fluid bg-primary-0 border-top border-primary-3 border-2 ">
        <%- include('./layout/footer'); -%>
    </div>
   

  
    

    <script type="module" src="../main.js"></script>
    <script type="module">
        // import labelCreate from './label_btn.js'
        import labelCreate from '../js/label_btn.js'

        let oneActivityLabelBtn = document.querySelector('.label-btn-list')
        let fragment = document.createDocumentFragment()
        let labelData = [
            {name:"聯誼",link:"#"},
            {name:"美食",link:"#"},
            {name:"戶外",link:"#"},
            {name:"交通旅遊",link:"#"},
        ]

        // labelData.forEach(function(item){
        //     labelCreate.mountLi(item,oneActivityLabelBtn)
        // })
        
        function mountlabelBtnDom(){
            labelData.forEach(function(item){
                fragment.appendChild( labelCreate.mountLi(item))
            })
            oneActivityLabelBtn.appendChild(fragment)
        }
        mountlabelBtnDom()
     

    </script>
  </body>
</html>
